<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#" />
    <customErrors mode="Off" />
  
  </system.web>
  <connectionStrings>
    <!--<add name="mdfconnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\shahbaz\Desktop\KillDeal\KillDeal\App_Data\Database2.mdf;Integrated Security=True "/>-->
     <!-- <add name="mdfconnection" connectionString="Data Source=SQL5041.site4now.net;Initial Catalog=DB_A54458_shahbaz012020;User Id=DB_A54458_shahbaz012020_admin;Password=Shahbaz@1993;" />-->
   
    <add name="mdfconnection" connectionString="Data Source=SQL5041.site4now.net,1433;Initial Catalog=DB_A613FE_killdeal;User Id=DB_A613FE_killdeal_admin;Password=Shahbaz@1993;" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0 Xml;HDR={1}'" />
  </connectionStrings>
  <appSettings>
    <add key="FolderPath" value="Files/" />
    <add key="MessageSaved" value="Your message sent sucesscullt." />
    <add key="MessageSavingError" value="Opps... Somting Went Wrong." />
  </appSettings>
  <system.webServer>
        <httpErrors errorMode="Detailed" />
   
  </system.webServer>
</configuration>

